body{
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: #f4f4f4;
    font-family: helvetica;
}

.container{
    background: rgb(253, 253, 253);
    width: 400px;
    padding: 20px;
    margin: 5px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textarea{
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 14px;
    font-family: helvetica;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px darkgray;
    border-radius: 10px;
}

.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.counter-container p{
    font-size: 10px;
    color: gray;
}

